body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: transparent;
    margin: 0;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#label {
    font-size: 24px;
    margin-right: 10px;
}

#count {
    font-size: 36px;
    margin: 0 20px;
}
